body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d26464;
}

header {
    background: #333;
    color: #d26464;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #d26464;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #d26464;
    position: relative;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: #d26464;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #d26464;
    border-radius: 5px;
}

form button {
    background: #333;
    color: #d26464;
    border: none;
    padding: 10px;
    cursor: pointer;
}